<%- include("header") -%>

<div class="box" id="heading">
  <h1> Enter your Email </h1>
</div>
<form class="user_form" action="/" method="post">
  <input type="email" name="userEmail" placeholder="Enter your Email here" autocomplete="off">
  <button type="submit" class='user-submit-button' >Go </button>
</form>

<%- include("footer") -%>
