<%- include("header") -%>

<div class="box" id="heading">
  <h1> Enter your Email </h1>
</div>
<form class="item" action="/" method="post">
  <input type="email" name="userEmail" placeholder="Enter your Email here" autocomplete="off">
  <button type="submit" >Go to My Database</button>
</form>

<%- include("footer") -%>
